canvas {
    cursor: url('/src/components/assets/spraycan.png'), auto;	
}

.btn {
    height: 20px;
    width: 50px;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}